SQLAlchemy~=2.0.36
pytz~=2024.2
aiohttp~=3.11.10
python-dotenv~=1.0.1
Telethon~=1.38.1
fpdf~=1.7.2
tabulate~=0.9.0
weasyprint~=63.1
Jinja2~=3.1.4
redis~=5.2.0
APScheduler~=3.11.0
pexpect~=4.9.0
aioredis~=2.0.1